main, nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem;

    h1 {
        color: var(--color-primary-200);
    }

    a {
        color: var(--color-primary-300);
        text-decoration: none;
    }
}

.active {
    color: var(--color-gray-400);
    font-weight: 600;
}